/* general styling */
button,
a.button {
  /* Base styling */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* Typography */
  font-size: 1rem;
  line-height: 1;
  font-family: inherit;

  /* Spacing */
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  min-width: 2.5rem;

  /* Visual */
  border: 2px solid currentColor;
  border-radius: var(--border-radius);
  background: transparent;
  color: currentColor;

  /* Interaction */
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: background-color 0.2s ease-in-out;

  /* Layout */
  float: left;
}

/* colors */
button:hover,
a.button:hover {
  background-color: var(--highlight-color);
}

button:first-child,
a.button:first-child {
  margin-left: 0;
}

/* sizes */
button.large,
a.button.large {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  min-width: 3rem;
}

button.big,
a.button.big {
  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
  min-width: 3.5rem;
}

button.huge,
a.button.huge {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  min-width: 4rem;
}

/* inline */
button.inline,
a.button.inline {
  float: none;
}

/* borderless */
button.borderless,
a.button.borderless {
  border: none;
}

/* contains multiple actionable elements */
.group > button,
.group > a.button {
  border-radius: 0px;
  border-left: none;
  margin-left: 0;
}

.group > button:first-child,
.group > a.button:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left: solid;
}

.group > button:last-child,
.group > a.button:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* icon button */
button.icon,
a.button.icon {
  /* Square icon buttons - padding controls size */
  padding: 0.5rem;
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
}

button.large.icon,
a.button.large.icon {
  padding: 0.6rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
}

button.big.icon,
a.button.big.icon {
  padding: 0.7rem;
  min-width: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

button.huge.icon,
a.button.huge.icon {
  padding: 0.8rem;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
}

/* Icon sizing within buttons */
button.icon svg,
a.button.icon svg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
