html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  margin: 0;

  font-size: var(--font-size);
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; /* padding and borders are included in width/height calculations */

  /* antialiasing */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* subpixel antialiasing */
  /* -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; */
}

p {
  line-height: 1.5;
}

.centeredContent {
  margin-top: auto;
}

a {
  display: inline-block; /* removes weird underline on non-existant space behind link */
}

a:link,
a:visited,
a:active {
  color: inherit;
}

svg {
  /* fix ios bug - https://stackoverflow.com/questions/26091989/svg-viewbox-height-issue-on-ios-safari */
  width: 100%;
  height: 100%;
}

/* responsiveness */
.portrait {
  display: inherit;
}
.landscape {
  display: none;
}
@media only screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
  .landscape {
    display: inherit;
  }
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

/* Markdown-style prefixes for headlines (only within textContainer) */
.textContainer h1::before {
  content: '# ';
}

.textContainer h2::before {
  content: '## ';
}

.textContainer h3::before {
  content: '### ';
}

.textContainer h4::before {
  content: '#### ';
}

.textContainer h5::before {
  content: '##### ';
}

.textContainer h6::before {
  content: '###### ';
}
