<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- place stylesheet reference before color-scheme to prevent flickering -->
    <link rel="stylesheet" href="/style.css" />

    <!-- automatically takes care of all the dark and light mode default features :) and is faster than setting it via css -->
    <meta name="color-scheme" content="dark light" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ template "head" . }}
  </head>
  <body>
    {{ template "partials/nav.partial.html" . -}}
    {{ template "partials/breadcrumbs.partial.html" . -}}
    {{ template "content" . }}
    {{ template "partials/footer.partial.html" . -}}
    <script
      defer
      src="https://analytics.thetillhoff.de/script.js"
      data-website-id="b231247b-1848-45f0-a1a8-4745d7b84d3d"
    ></script>
  </body>
</html>
