<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>reveal.js</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reset.min.css" integrity="sha384-8g3WNUREoaLv+QfRi7MIf7/mmCR/jTS1HCBsSyBV85F0pPPVXcIedXY1TQUlgS8e" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.min.css" integrity="sha384-00HJgkvhQg/fMivqxlNVRtieYgg5TEZRhGeMrd++DHawQP8cydYmUApjuR1hFGJq" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/theme/white.min.css" integrity="sha384-uCckDQ7JBZmBGUbhfRG5LOgHj4VmFomPjnJW8zvtj+vkuP7TmKT5dwVTR9iaCOp5" crossorigin="anonymous">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/highlight/monokai.min.css" integrity="sha384-xF9JjZcuEa84+xfbMQGZAWVsG1ZdwXDvgaZrwzYulhAnUorFrCwpmSDgG40h4FUf" crossorigin="anonymous">

        <link rel="stylesheet" href="/slides/slides.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                
              {{ template "content" . }}

            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.min.js" integrity="sha384-GmftLCwWz/avCuDElCfP/a0D1/vIIAEkE4dY7Lde+s0kpI7KEoclwdce+QxC1h7U" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/notes/notes.min.js" integrity="sha384-RQD9EMyXsgqtoziP1gWQ5pboKqH0T6EqGPXp/r9DNN4t3iNzDnDYeuR0yQOLQ1Yf" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/markdown/markdown.min.js" integrity="sha384-SzehdV/wXZaCRWWjoj1n2ohaYv8Q08mj+nPimNjAB1lCWhup41K/57Hq5NoM/nRq" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/highlight/highlight.min.js" integrity="sha384-baEsj5jw38DYcKcEK0Qt3COpAiP2NO81DHK809rYRqJm0xKJQmOsPL52hS+QU7yv" crossorigin="anonymous"></script>
        <script src="/slides/reveal-init.js"></script>
    </body>
</html>
